.home {
  height: 100vh;
  width: 100vw;
  display: flex;

  & nav {
    padding: 3rem;
    width: 15vw;
    height: 100vh;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & button {
      font-size: 2.5rem;
    }

    & h2 {
      font-size: 2rem;
    }
  }

}